@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 91%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 123 44% 39%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 123 20% 85%;
    --secondary-foreground: 123 44% 20%;
    --muted: 60 30% 88%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 25 100% 41%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60 20% 80%;
    --input: 60 20% 83%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 25 100% 41%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 56% 95%;
    --sidebar-foreground: 123 44% 20%;
    --sidebar-primary: 123 44% 39%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 123 20% 88%;
    --sidebar-accent-foreground: 123 44% 20%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 123 44% 39%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 123 44% 39%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 25 100% 41%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 25 100% 41%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 123 44% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 123 44% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
